header
{
    position: absolute;
    height: 100px;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.container
{
    display: flex;
    justify-content: space-between;
}
.container a
{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 2em;
    color: #212529;
    text-decoration: none;
}
.container .btn-home
{
    font-size: 2.3em;
    text-transform: uppercase;
}
.container .links
{
    margin-top: 30px;
    margin-right: 50px;
    display: flex;
}
.logout
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    background: #c44242;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}
h1
{
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 2.3em;
}
.icons
{
    display: none;
}
i
{
    font-size: 2em;
    position: absolute;
    top: 35%;
    right: 100px;
}
.fa-xmark
{
    opacity: 0;
    margin-right: 2px;
}
.menu-bars
{
    opacity: 0;
}
.menu-x
{
    opacity: 1;
}
@media(max-width: 1100px)
{
    .icons
    {
        display: block;
    }
    .container .links a
    {
        display: none;
    }
}
@media(max-width: 830px)
{
    .btn-home a
    {
        font-size: 1.3em;
        top: 20px;
        position: absolute;
    }
}