.container
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}
input
{
    font-size: 2em;
    margin-top: 40px;
    border-radius: 12px;
}
input[type="text"],
input[type="email"],
input[type="password"]
{
    text-indent: 60px;
    width: 500px;
    height: 70px;
    border: 2px solid black;
}
input[type="submit"]
{
    padding: 10px 20px;
    border: none;
    background: #1c4772;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 20px;
}
input[type="submit"]:hover
{
    background: #2166ac;
}
i
{
    position: absolute;
    font-size: 1.5em;
    margin-top: 62px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.411)
}
a
{
    color: #5595d6;
    text-decoration: none;
    font-size: 1.4em;
}
a:hover
{
    color: #52b6f0;
}
@media(max-width: 620px)
{
    input[type="email"],
    input[type="text"],
    input[type="password"]
    {
        width: 350px;
        height: 60px;
        font-size: 1.3em;
    }
    input[type="submit"]
    {
        font-size: 1.7em;
    }
    i
    {
        font-size: 1.3em;
    }
    a
    {
        display: block;
        margin-bottom: 10px;
    }
}